#### COMPANION WORKBOOK

# Python Basics

To make the most out of this program, we strongly recommend you to:
1. First practice writing and implementing all of the code from Coding Section of the online module.
2. Then, freely experiment with and explore any interesting or confusing concepts. Simply insert new code cells and then use the help of Google and official documentation.
3. Finally, tackle all of the exercises at the end. They will help you tie everything together and **learn in context.**

#### <span style="color:#555">MODULE CODE SANDBOX</span>

Use this space to practice writing and implementing all of the code from Coding Section of the online module. Insert new code cells as needed, and feel free to write notes to yourself in Markdown.

## I. Python can be used for calculations.

In [1]:
print(10 + 5)

15

In [2]:
print(10**2)

100

In [3]:
print(10 / 3)

3.3333333333333335

In [4]:
print( 10 % 5)

0

In [5]:
print(10 + (4 ** 3 * 10) /6)

116.66666666666667

In [6]:
print( 10 > 6)
print(5 >= 3)
print(5 == 3)
print(5 <= 3)
print(5 < 3)

True
True
False
False
False

In [8]:
print(type(5 > 5))
print(type(True))

<class 'bool'>
<class 'bool'>

In [10]:
print(type('2' + '2'))

<class 'str'>

In [11]:
'2' + '2'

'22'

## II. Floats are numeric objects that allow more precision.

In [12]:
print(type(5))

<class 'int'>

In [13]:
print(type(.6))

<class 'float'>

In [14]:
print(type(5.3))

<class 'float'>

In [15]:
print( 333 )
print(float(444)) # convert int to float

333
444.0

In [16]:
print( int(5.9)) # convert float to int

5

In [17]:
print( int(6.3333339))

6

In [18]:
print(round(6.333339))

6

In [19]:
print( 4 * 2.5, type(4 * 2.5))

10.0 <class 'float'>

In [20]:
print( 3 / 2.)

1.5

## III. Strings are text objects enclosed by quotes.

In [21]:
print( type('This is a string'))

<class 'str'>

In [22]:
print( type("enclosed by double quotes"))

<class 'str'>

In [23]:
print ('992 + 345' == "992 + 345")

True

In [24]:
print( "It's me.. Mario!")

It's me.. Mario!

In [25]:
print('It\'s me.. Mario!')

It's me.. Mario!

In [26]:
print('343 + 992')

343 + 992

In [27]:
print('343' + '992')

343992

In [28]:
'10' * 5 # repeat string

'1010101010'

In [29]:
'5' / '8'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [30]:
print('401 + 345 = {}'.format(401 + 345))

401 + 345 = 746

In [31]:
print('{} + {} = {}'.format(100, 300, 100 + 300))

100 + 300 = 400

In [36]:
print('{} ** {} + {} = {}'.format(10, 5, 20, 10 ** 5 + 20))

10 ** 5 + 20 = 100020

## IV. Variables store values and keep your code organized.

In [32]:
# set variables
a = 10
b = 20
c = 'hello'

print(a)
print(c)
print(b)

print(a ** b)

10
hello
20
100000000000000000000

In [35]:
principal = 1000.0
yearly_interest_rate = 0.03
n_years = 5

total_return = principal * (1 + yearly_interest_rate) ** n_years - principal

print(total_return)

print( 'pct return: {}%'.format(round(total_return/principal * 100, 2)))

159.27407430000017
pct return: 15.93%

In [1]:
principal = 1000.0

Principal = 'Mr Smith'

#### <span style="color:#555">EXERCISES</span>

Complete each of the following exercises.


## <span style="color:RoyalBlue"> Exercise 1.1 - Python as a Calculator</span>

#### A.) A right triangle has a hypotenuse of length 17, and one of its legs has length 8. Calculate the length of the other leg using one line of Python code.
* Tip: <a href="https://en.wikipedia.org/wiki/Pythagorean_theorem" target="_blank">Pythagorean Theorem</a>

In [36]:
import math
hypotenuse = 17
leg_one = 8

print('leg_two: {}'.format(round(math.sqrt((hypotenuse ** 2) + (leg_one ** 2)), 2)))
print('leg_two: {}'.format(math.sqrt((hypotenuse ** 2) + (leg_one ** 2))))

leg_two: 18.79
leg_two: 18.788294228055936

#### B.) You have 5 colleagues going through this Secret Agent Bootcamp with you. If you are definitely the top student, how many total possible ways can all 6 students be ranked?
* Hint: You have already taken rank 1. How many people are eligible for rank 2? Once rank 2 has been determined, how many eligible people remain for rank 3? Etc...

In [32]:
print('rank 1: {} way'.format(1))
print('rank 2: {} ways'.format(1*2))
print('rank 3: {} ways'.format(1*2*3))
print('rank 4: {} ways'.format(1*2*3*4))
print('rank 5: {} ways'.format(1*2*3*4*5))
print('rank 6: {} ways'.format(1*2*3*4*5*6))

rank 1: 1 way
rank 2: 2 ways
rank 3: 6 ways
rank 4: 24 ways
rank 5: 120 ways
rank 6: 720 ways

#### C.) Your 5 colleagues have the codenames 'Agent A', 'Agent B', 'Agent C', 'Agent D', 'Agent E' (not very creative, I know). Assuming you are ranked number 1, but your remaining colleagues are ranked completely randomly, what's the probability that the overall ranking is:
1. You
2. Agent C
3. Agent A
4. Agent D
5. Agent E
6. Agent B

Display your answer as a percentage rounded to two decimal places, and make sure there is no extra space between the percentage number and the percentage symbol.

In [40]:
#rct = ((6*5*4*3*2)/(6**5))
#round(rct * 100, 2)
print('{}%'.format(round(((6*5*4*3*2)/(6**5)) * 100, 2)))

9.26%

## <span style="color:RoyalBlue"> Exercise 1.2 - Boolean Alter Egos</span>

#### A.) Try adding a <code>True</code> boolean with a <code>False</code> boolean. What do you get?

In [41]:
True + False

1

#### B.) Try *multiplying* a <code>True</code> boolean with a <code>False</code> boolean. What do you get?

In [42]:
True * False

0

#### C.) Try multiplying a <code>True</code> boolean with an arbitrary number, such as 123. What do you get?

In [43]:
True * 123

123

#### D.) Try multiplying a <code>False</code> boolean with an arbitrary number, such as 123. What do you get?

In [44]:
False * 123

0

#### E.) What do you think the outputs above imply about how Python treats boolean values under the hood?
* **Tip:** Keep this in the back of your mind. This idea will later.

## <span style="color:RoyalBlue"> Exercise 1.3 - Training Mission Preparation</span>

This is actually the start of a long series of connected exercises. These will all belong to the same **training mission**, and they will continue through the entire Python for Data Science Course.

#### Here's the setting...

As a new recruit, you're being sent on a training mission.
* You will travel to different locations in London.
* First, you will prepare for and plan the trip.
* After you arrive at each location, you will meet with local business owners and offer your help.

Simple enough, right? Let's get started.

### Phase 1: Planning

You're planning your mission, and HQ wants to know you if you have enough space for water.

You take a look inside your bag, and this is what you brought:

* You have **3** empty cylinder-shaped bottles. 
* Each bottle has a height of **16** cm and a radius of **4** cm.
* Each bottle can be completely filled (ignore the thickness of the bottle).

#### A.) First, calculate the total volume of water you can carry, in cm$^3$.
* The formula for the volume of a cylinder is $V = \pi r^2 h$
* Perform your calculation in the code cell below and run the cell. If you get stuck, check the answer key for solutions.

In [49]:
# Total volume of water you can carry

import math
radius = 4
height = 16

volume = math.pi * (4**2) * height

print(round(volume, 2) * 3)

2412.75

**Tip:** Some (not all) exercises will include an <strong style="color:RoyalBlue">expected output</strong> so you can check your results before moving on.

<strong style="color:RoyalBlue">Expected output:</strong>

2411.52

#### B.) HQ estimates that you'll need at least 2000 cm$^3$ for the mission. Print <code style="color:steelblue">True</code> if you have enough space or <code style="color:steelblue">False</code> if you do not.
* Use the **greater-than-or-equal-to** operator.

In [51]:
# Do you have space for at least 2000 cm^3

import math

rad = 4
hgt = 16

vol = math.pi * (rad ** 2) * hgt

required = 2000

if (vol <= required):
    print(True)
else:
    print(False)

True

You already told HQ that you have enough space for water, but they didn't hear you clearly... You might need to just print them a message.

#### C.) Print the message, which dynamically inserting the calculated total volume capacity from (A):

<pre>Yes, I have enough space. I can carry <span style="color:steelblue">total_volume</span> cm^3 of water</pre>

In [53]:
# Print message to HQ

import math

rad = 4
hgt = 16

vol = math.pi * (rad ** 2) * hgt

required = 2000

if (vol <= required):
    print('Yes, I have enough space. I can carry {} cm^3 of water'.format(round(vol, 2)))
else:
    print(False)

Yes, I have enough space. I can carry 804.25 cm^3 of water

**D.) If HQ has provided you with 5000 cm$^3$ of water, what's the maximum number of bottles can you fill completely, assuming you could buy more bottles?**
* The output should be an integer (completely full bottles)

In [55]:
# Max number of bottles you can fill completely
import math

rad = 4
hgt = 16

vol = math.pi * (rad ** 2) * hgt

max_qty = 5000

num_of_bottles = max_qty / vol

print(round(num_of_bottles))

6

<strong style="color:RoyalBlue">Expected output:</strong>

6

## <span style="color:RoyalBlue"> Exercise 1.4 - Getting Organized with Variables</span>

Repeat the calculations from <span style="color:RoyalBlue">Exercise 1.3</span>, but this time use variables with descriptive names.

* You have **3** empty cylinder-shaped bottles. 
* Each bottle has a height of **16** cm and a radius of **4** cm.
* Each bottle can be completely filled (ignore the thickness of the bottle).
* The formula for the volume of a cylinder is $V = \pi r^2 h$

#### A.) Start by setting variables with descriptive names for bottle dimensions, the number of bottles, and $\pi$.

In [ ]:
# Set variables
import math

radius = 4
height = 16
num_of_bottles = 3

volume = math.pi * (radius ** 2) * height

#### B.) Next, calculate the intermediary step of a single bottle's volume.
* Set it to a new variable.

In [57]:
# Calculate volume of one bottle (in cm^3)

import math

radius = 4
height = 16
num_of_bottles = 3

volume = math.pi * (radius ** 2) * height


# Print volume of a single bottle
print(round(volume))

804

<strong style="color:RoyalBlue">Expected output:</strong>

803.84

#### C.) Finally, calculate total volume.
* Set it to a new variable.

In [58]:
# Calculate total volume

import math

radius = 4
height = 16
num_of_bottles = 3

volume = math.pi * (radius ** 2) * height

# Print total volume

print(round(volume * 3))

2413

#### The mission continues in the next module...

Now that you've stocked up on enough water, you're ready to go on your training mission into London. In the next module, we'll start planning the trip and all the locations you'll visit.