#### COMPANION WORKBOOK

# Data Structures

To make the most out of this program, we strongly recommend you to:
1. First practice writing and implementing all of the code from Coding Section of the online module.
2. Then, freely experiment with and explore any interesting or confusing concepts. Simply insert new code cells and then use the help of Google and official documentation.
3. Finally, tackle all of the exercises at the end. They will help you tie everything together and **learn in context.**

#### <span style="color:#555">MODULE CODE SANDBOX</span>

Use this space to practice writing and implementing all of the code from Coding Section of the online module. Insert new code cells as needed, and feel free to write notes to yourself in Markdown.

## I. Lists are mutable sequences of objects.

In [2]:
integer_list = [0,1,2,4,3,6,7,5]
print(integer_list)
print(type(integer_list))

[0, 1, 2, 4, 3, 6, 7, 5]
<class 'list'>

In [4]:
mixed_list = [1, 'hello', 9, True, 'world', 'black']
print(mixed_list)

[1, 'hello', 9, True, 'world', 'black']

In [11]:
print(mixed_list[0])
print(mixed_list[2])
print(mixed_list[:4])
print(mixed_list[1:4])
print(mixed_list[3:5])
print(mixed_list[1:])

1
9
[1, 'hello', 9, True]
['hello', 9, True]
[True, 'world']
['hello', 9, True, 'world', 'black']

In [13]:
print(mixed_list[:-1])
print(mixed_list[1: -1])

[1, 'hello', 9, True, 'world']
['hello', 9, True, 'world']

In [15]:
mixed_list[0] = "AFREF"
print(mixed_list)

['AFREF', 'hello', 9, True, 'world', 'black']

In [16]:
mixed_list.append('Columbia')
print(mixed_list)
mixed_list.remove('world')
print(mixed_list)

['AFREF', 'hello', 9, True, 'world', 'black', 'Columbia']
['AFREF', 'hello', 9, True, 'black', 'Columbia']

In [1]:
a=[1,2,3]
b=[7,2,9,2]

a + b

# unpack list
a,b,c = a

print(c)

3

In [18]:
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
print(9 in b)

True

In [22]:
print(len(b))
print(max(b))
print(min(a))

4
9
1

## II. Tuples are immutable sequences of objects.

In [23]:
int_tuple = (1,2,3,4,5,6,7,9)
print(int_tuple)
print(type(int_tuple))

(1, 2, 3, 4, 5, 6, 7, 9)
<class 'tuple'>

In [25]:
mixed_tuples = (True, 'Job', 5, 'Nick', 9, 'green', 'indigo')
print(len(mixed_tuples))

print(mixed_tuples[2])
print(mixed_tuples[1:])
print(mixed_tuples[2:4])
print(mixed_tuples[:3])
print(mixed_tuples[1: -2])

7
5
('Job', 5, 'Nick', 9, 'green', 'indigo')
(5, 'Nick')
(True, 'Job', 5)
('Job', 5, 'Nick', 9)

In [26]:
mixed_tuples[0] = 'Cluster'

TypeError: 'tuple' object does not support item assignment

In [29]:
#unpack tuples
a,b,c,d,e,f,g = mixed_tuples
print(f)

green

In [32]:
a = (1,2,3,4)
b = (4,7,9,'ðŸ˜”')

print(a + b)
print(a * 2)
print(9 in b)
print(max(a))
print(min(a))

(1, 2, 3, 4, 4, 7, 9, 'ðŸ˜”')
(1, 2, 3, 4, 1, 2, 3, 4)
True
4
1

## III. Sets are collections of unique objects.

In [4]:
my_set = {0,1,2,3,4}

print(my_set)
print(type(my_set))

print(len(my_set))

{0, 1, 2, 3, 4}
<class 'set'>
5

In [7]:
fibo_set = {1,1,2,2,3,4,5,5,6}
print(fibo_set)


print(fibo_set[3])

{1, 2, 3, 4, 5, 6}

TypeError: 'set' object is not subscriptable

In [8]:
#convert list to set
fibo_list = [1,1,1,1,2,3,4,3,7,8,5]

new_set = set(fibo_list)

print(new_set)

{1, 2, 3, 4, 5, 7, 8}

In [9]:
set_one = {2,4,5,3,7,9}
set_two = {2,4,5,8,9,7}


set_union = set_one.union(set_two)

print(set_union)

set_union_two = set_one | set_two

print(set_union_two)

{2, 3, 4, 5, 7, 8, 9}
{2, 3, 4, 5, 7, 8, 9}

In [10]:
set_intersect = set_one.intersection(set_two)

print(set_intersect)

set_inter = set_one & set_two

print(set_inter)

{2, 4, 5, 7, 9}
{2, 4, 5, 7, 9}

In [12]:
set_diff = set_one - set_two

print(set_diff)

set_diff_two = set_two - set_one

print(set_diff_two)

{3}
{8}

## IV. Dictionaries are collections of key-value pairs.

In [14]:
my_dict = {
    40 : 'hello world',
    'zero' : 'nullon',
    'one' : 'sandy',
    'two' : 'johnny',
    'three' : 'shrek'
}

print(my_dict)

print(type(my_dict))

{40: 'hello world', 'zero': 'nullon', 'one': 'sandy', 'two': 'johnny', 'three': 'shrek'}
<class 'dict'>

In [16]:
#access dict via key

print(my_dict[40])

print(my_dict['two'])

hello world
johnny

In [17]:
#update key-value pair

my_dict['zero'] = 'Dillon'

print(my_dict)

{40: 'hello world', 'zero': 'Dillon', 'one': 'sandy', 'two': 'johnny', 'three': 'shrek'}

In [18]:
#update value of a key

my_dict['two'].append('shrek forever')
print(my_dict)

AttributeError: 'str' object has no attribute 'append'

In [19]:
my_dict['three'] = ['warrior', 'blues', 67, 'jiving']

print(my_dict)

{40: 'hello world', 'zero': 'Dillon', 'one': 'sandy', 'two': 'johnny', 'three': ['warrior', 'blues', 67, 'jiving']}

In [20]:
my_dict['three'].append('shrek forever')

print(my_dict)

{40: 'hello world', 'zero': 'Dillon', 'one': 'sandy', 'two': 'johnny', 'three': ['warrior', 'blues', 67, 'jiving', 'shrek forever']}

In [21]:
#create new key value pair

my_dict['blast'] = 50

print(my_dict)

{40: 'hello world', 'zero': 'Dillon', 'one': 'sandy', 'two': 'johnny', 'three': ['warrior', 'blues', 67, 'jiving', 'shrek forever'], 'blast': 50}

In [30]:
# print all keys

print(my_dict.keys())

print(my_dict.values())

print(type(my_dict.values()))

dict_keys([40, 'zero', 'one', 'two', 'three', 'blast'])
dict_values(['hello world', 'Dillon', 'sandy', 'johnny', ['warrior', 'blues', 67, 'jiving', 'shrek forever'], 50])
<class 'dict_values'>

In [33]:
print(my_dict.items())

dict_items([(40, 'hello world'), ('zero', 'Dillon'), ('one', 'sandy'), ('two', 'johnny'), ('three', ['warrior', 'blues', 67, 'jiving', 'shrek forever']), ('blast', 50)])

#### <span style="color:#555">EXERCISES</span>

Complete each of the following exercises.

## <span style="color:RoyalBlue">Exercise 2.1 - Listing the Locations</span>

#### In the previous module...

In the previous module, you learned about the training mission: a visit to London. You also made sure you had enough water for the trip by performing calculations. Now, it's time to start planning the locations in London to visit! Before we start, let's import lists of locations by borough. 
* These are stored in text files that HQ has provided for you. 
* Python has a variety of **input/output** methods. We won't cover them here, but you can learn more about them in the [documentation](https://docs.python.org/3/tutorial/inputoutput.html).

#### A.) First, run this code. This will read lists of locations by borough.

In [34]:
# Read lists of locations (simply run this code block)
with open('project_files/brent.txt', 'r') as f:
    brent = f.read().splitlines()
    
with open('project_files/camden.txt', 'r') as f:
    camden = f.read().splitlines()

with open('project_files/redbridge.txt', 'r') as f:
    redbridge = f.read().splitlines()

with open('project_files/southwark.txt', 'r') as f:
    southwark = f.read().splitlines()

Note that when text files are read using the <code style="color:steelblue">splitlines()</code> function, the resulting object is a list.

So the four objects you just created from the files - <code style="color:steelblue">brent</code>, <code style="color:steelblue">camden</code>, <code style="color:steelblue">redbridge</code>, and <code style="color:steelblue">southwark</code> - are all lists.

#### B.) Confirm that the new objects are all Python lists.

In [35]:
# Display the classes of your new objects

print(type(brent))
print(type(camden))
print(type(redbridge))
print(type(southwark))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

Let's start exploring this data.

#### C.) Print the first 5 locations in the Camden list.

In [40]:
# Print the first 5 locations in Camden

print(camden[:5])

['Chalk Farm', 'Dartmouth Park', 'Fitzrovia', 'Frognal', 'Bloomsbury']

<strong style="color:RoyalBlue">Expected output:</strong>

<pre>['Chalk Farm', 'Dartmouth Park', 'Fitzrovia', 'Frognal', 'Bloomsbury']</pre>

Next, we need to know how many locations are in each borough. 

#### D.) Print the number of locations in each list.
* Which borough has the most locations?
* Which borough has the fewest locations?

In [39]:
# Print length of each list
print(len(brent))
print(len(camden))
print(len(redbridge))
print(len(southwark))

19
22
18
15

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
19
22
18
15
</pre>

*Camden has the most locations and Southwark has the fewest.*

#### E.) Next, HQ wants to check a few locations. Do the following:
* **Print <code style="color:steelblue">True</code> if <code>'Newbury Park'</code> is in Redbridge or <code style="color:steelblue">False</code> if it's not.**
* **Print <code style="color:steelblue">True</code> if <code>'Peckham'</code> is in Brent or <code style="color:steelblue">False</code> if it's not.**

In [48]:
# Is 'Newbury Park' in Redbridge?

with open('project_files/redbridge.txt', 'r') as f:
    Redbridge = f.read().splitlines()

print('Newbury Park' in Redbridge)



# Is 'Peckham' in Brent?

print('Peckham' in brent)

True
False

#### F.) Next, try printing the "minimum" and "maximum" values in the Southwark list.
* Why do you think you get those results?
* How do you think lists of strings are ordered?

In [50]:
# Print minimum value in southwark

print(min(southwark))


# Print maximum value in southwark

print(max(southwark))

Bankside
Walworth

#### G.) Finally, try printing the "minimum" and "maximum" values from all of the other 3 lists.
* Do the results confirm your suspicions from (F)?

In [54]:
# Print min/max values in brent
print(min(brent))
print(max(brent))
print('brent:', min(brent), ';' max(brent) )

# Print min/max values in camden
print(min(camden))
print(max(camden))
print('camden:', min(camden), ';' max(camden) )

# Print min/max values in redbridge
print(min(redbridge))
print(max(redbridge))
print('redbridge:', min(redbridge), ';' max(redbridge) )

Alperton
Willesden
Belsize Park
West Hampstead
Aldborough Hatch
Woodford Green

## <span style="color:RoyalBlue">Exercise 2.2 - Setting Uniques</span>

Let's continue planning locations to visit for our training mission to London. Before we continue, we need to remove duplicates from our lists because we don't have time to visit the same location twice.

#### A.) For each of the 4 lists of locations, print <code style="color:steelblue">True</code> if it has duplicate locations and <code style="color:steelblue">False</code> if it doesn't.
* Hint: A list with duplicates will have a greater length than a set of the same locations.

In [65]:
# Brent has duplicates?
brent_set = set(brent)
# print(len(brent_set) == len(brent))
if len(brent_set) == len(brent):
    print(False)
else:
    print(True)

# Camden has duplicates?
camden_set = set(camden)
# print(len(camden_set) == len(camden))
if len(camden_set) == len(camden):
    print(False)
else:
    print(True)

# Redbridge has duplicates?
redbridge_set = set(redbridge)
# print(len(redbridge_set) == len(redbridge))
if len(redbridge_set) == len(redbridge):
    print(False)
else:
    print(True)

# Southwark has duplicates?
southwark_set = set(southwark)
# print(len(southwark_set) == len(southwark))
if len(southwark_set) == len(southwark):
    print(False)
else:
    print(True)
    
    
# Brent has duplicates?
print( len(brent) > len(set(brent)) )

# Camden has duplicates?
print( len(camden) > len(set(camden)) )

# Redbridge has duplicates?
print( len(redbridge) > len(set(redbridge)) )

# Southwark has duplicates?
print( len(southwark) > len(set(southwark)) )

False
True
True
True

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
False
True
True
True
</pre>

#### B.) For the lists with duplicates, remove duplicates by converting them into sets. Then, convert them back into lists.
* Hint: <code style="color:steelblue">set()</code> and <code style="color:steelblue">list()</code> are your friends.

In [68]:
# Convert lists to sets to remove duplicates, then convert them back to lists 
brent_set = set(brent)
brent_list = list(brent_set)

print(brent_set)
print(brent_list)


camden_set = set(camden)
camden_list = list(camden_set)

print(camden_set)
print(camden_list)


redbridge_set = set(redbridge)
redbridge_list = list(redbridge_set)

print(redbridge_set)
print(redbridge_list)



southwark_set = set(southwark)
southwark_list = list(southwark_set)

print(southwark_set)
print(southwark_list)
print(len(southwark_list))

{'Willesden', "Queen's Park", 'Preston', 'Brent Park', 'Kilburn', 'Dollis Hill', 'Wembley', 'Park Royal', 'Kingsbury', 'Neasden', 'Tokyngton', 'Sudbury', 'Brondesbury', 'Church End', 'Kenton', 'Kensal Green', 'Wembley Park', 'Harlesden', 'Alperton'}
['Willesden', "Queen's Park", 'Preston', 'Brent Park', 'Kilburn', 'Dollis Hill', 'Wembley', 'Park Royal', 'Kingsbury', 'Neasden', 'Tokyngton', 'Sudbury', 'Brondesbury', 'Church End', 'Kenton', 'Kensal Green', 'Wembley Park', 'Harlesden', 'Alperton']
{"King's Cross", 'Dartmouth Park', 'Bloomsbury', 'Primrose Hill', 'St Pancras', 'Belsize Park', 'Fitzrovia', 'Kentish Town', 'Hampstead', 'Chalk Farm', 'Somerstown', 'Camden Town', 'Frognal', 'St Giles', 'Swiss Cottage', 'Holborn', 'Gospel Oak', 'Highgate', 'West Hampstead'}
["King's Cross", 'Dartmouth Park', 'Bloomsbury', 'Primrose Hill', 'St Pancras', 'Belsize Park', 'Fitzrovia', 'Kentish Town', 'Hampstead', 'Chalk Farm', 'Somerstown', 'Camden Town', 'Frognal', 'St Giles', 'Swiss Cottage', 'Holborn', 'Gospel Oak', 'Highgate', 'West Hampstead']
{'Seven Kings', 'Aldborough Hatch', 'Woodford Green', 'Snaresbrook', 'Barkingside', 'Hainault', 'Newbury Park', 'South Woodford', 'Chadwell Heath', 'Woodford', 'Ilford', 'Wanstead', 'Gants Hill', 'Loxford', 'Goodmayes', 'Redbridge'}
['Seven Kings', 'Aldborough Hatch', 'Woodford Green', 'Snaresbrook', 'Barkingside', 'Hainault', 'Newbury Park', 'South Woodford', 'Chadwell Heath', 'Woodford', 'Ilford', 'Wanstead', 'Gants Hill', 'Loxford', 'Goodmayes', 'Redbridge']
{'Dulwich', 'Surrey Quays', 'Peckham', 'Elephant and Castle', 'Newington', 'East Dulwich', 'Walworth', 'Bankside', 'Nunhead', 'Bermondsey', 'Camberwell', 'Rotherhithe', 'Denmark Hill'}
['Dulwich', 'Surrey Quays', 'Peckham', 'Elephant and Castle', 'Newington', 'East Dulwich', 'Walworth', 'Bankside', 'Nunhead', 'Bermondsey', 'Camberwell', 'Rotherhithe', 'Denmark Hill']
13

Great, we're now almost ready to visit the locations. 

But first, let's look at a simple way to store the locations in one place.

## <span style="color:RoyalBlue">Exercise 2.3 - Dictionary Database</span>

We're almost ready to visit the locations in London! However, it's too cumbersome to lug around the 4 different lists we created in the previous exercise.

#### A.) Create a single dictionary named <code style="color:steelblue">location_dict</code> for the locations in each borough.
* Each key should be the name of the borough.
* Their values should be the lists of unique locations you created in <span style="color:RoyalBlue">Exercise 2.2</span>.

In [85]:
# Create location_dict

location_dict = {
    'Brent': ['Willesden', "Queen's Park", 'Preston', 'Brent Park', 'Kilburn', 'Dollis Hill', 'Wembley', 'Park Royal', 'Kingsbury', 'Neasden', 'Tokyngton', 'Sudbury', 'Brondesbury', 'Church End', 'Kenton', 'Kensal Green', 'Wembley Park', 'Harlesden', 'Alperton'],
    'Camden' : ["King's Cross", 'Dartmouth Park', 'Bloomsbury', 'Primrose Hill', 'St Pancras', 'Belsize Park', 'Fitzrovia', 'Kentish Town', 'Hampstead', 'Chalk Farm', 'Somerstown', 'Camden Town', 'Frognal', 'St Giles', 'Swiss Cottage', 'Holborn', 'Gospel Oak', 'Highgate', 'West Hampstead'],
    'Redbridge': ['Seven Kings', 'Aldborough Hatch', 'Woodford Green', 'Snaresbrook', 'Barkingside', 'Hainault', 'Newbury Park', 'South Woodford', 'Chadwell Heath', 'Woodford', 'Ilford', 'Wanstead', 'Gants Hill', 'Loxford', 'Goodmayes', 'Redbridge'],
    'Southwark': ['Dulwich', 'Surrey Quays', 'Peckham', 'Elephant and Castle', 'Newington', 'East Dulwich', 'Walworth', 'Bankside', 'Nunhead', 'Bermondsey', 'Camberwell', 'Rotherhithe', 'Denmark Hill']
}

print(location_dict)



location_dict_2 = {
    'Brent' : brent,
    'Camden' : camden,
    'Redbridge' : redbridge,
    'Southwark' : southwark
}

{'Brent': ['Willesden', "Queen's Park", 'Preston', 'Brent Park', 'Kilburn', 'Dollis Hill', 'Wembley', 'Park Royal', 'Kingsbury', 'Neasden', 'Tokyngton', 'Sudbury', 'Brondesbury', 'Church End', 'Kenton', 'Kensal Green', 'Wembley Park', 'Harlesden', 'Alperton'], 'Camden': ["King's Cross", 'Dartmouth Park', 'Bloomsbury', 'Primrose Hill', 'St Pancras', 'Belsize Park', 'Fitzrovia', 'Kentish Town', 'Hampstead', 'Chalk Farm', 'Somerstown', 'Camden Town', 'Frognal', 'St Giles', 'Swiss Cottage', 'Holborn', 'Gospel Oak', 'Highgate', 'West Hampstead'], 'Redbridge': ['Seven Kings', 'Aldborough Hatch', 'Woodford Green', 'Snaresbrook', 'Barkingside', 'Hainault', 'Newbury Park', 'South Woodford', 'Chadwell Heath', 'Woodford', 'Ilford', 'Wanstead', 'Gants Hill', 'Loxford', 'Goodmayes', 'Redbridge'], 'Southwark': ['Dulwich', 'Surrey Quays', 'Peckham', 'Elephant and Castle', 'Newington', 'East Dulwich', 'Walworth', 'Bankside', 'Nunhead', 'Bermondsey', 'Camberwell', 'Rotherhithe', 'Denmark Hill']}

Next, let's make sure the dictionary has the correct keys. 

#### B.) Run the cell below and check the output.
* What do you think the code below is doing?
* You'll learn more about <code style="color:steelblue">for</code> loops in the next module.

In [86]:
# Run this cell
for borough in ['Brent', 'Camden', 'Redbridge', 'Southwark']:
    print( borough in location_dict )

True
True
True
True

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
True
True
True
True
</pre>

Did you get the expected output? If not, check the answer key before moving on.

You've just received a message from HQ. *"Now that you've set up your dictionary, you won't need the original lists anymore. Get rid of them and wipe them clean."*

#### C.) Overwrite the original borough lists with <code style="color:steelblue">None</code>.
* <code style="color:steelblue">None</code> is an object that denotes emptiness. It's a separate object type within Python, similar to integers, floats, etc.
* There are different ways to approach this. See if you can do it in just one line of code! (Hint: "unpacking") The answer key has the solution that uses only one line of code.

In [95]:
# Wipe your original lists clean with None

brent_list = None
camden_list = None
redbridge_list = None
southwark_list = None

brent, camden, redbridge, southwark = None, None, None, None

#### D.) Confirm that all of your lists were wiped successfully. Print out each one's new class/type.
* Tip: When you overwrite a variable with a new object, it keeps the same variable name, but the object could be a completely different type of object.

In [96]:
print(type(brent_list))
print(type(camden_list))
print(type(redbridge_list))
print(type(southwark_list))

<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
&lt;class 'NoneType'>
&lt;class 'NoneType'>
&lt;class 'NoneType'>
&lt;class 'NoneType'>
</pre>

Now, we want to split our visit to London into two trips: one for Inner London and one for Outer London.

#### E.) Add two new items to your dictionary:
1. **Key:** <code style="color:steelblue">'Inner London'</code>... **Value:** All locations in <code style="color:steelblue">'Camden'</code> and <code style="color:steelblue">'Southwark'</code>.
2. **Key:** <code style="color:steelblue">'Outer London'</code>... **Value:** All locations in <code style="color:steelblue">'Brent'</code> and <code style="color:steelblue">'Redbridge'</code>.

Since you got rid of your original lists, you'll have to use the values you've already stored in your dictionary.

In [124]:
# Create a new key-value pair for 'Inner London'
location_dict['Inner London'] = list(camden_set) + list(southwark_set)


# Create a new key-value pair for 'Outer London'
location_dict['Outer London'] = list(brent_set) + list(redbridge_set)

Finally, let's just check that we have the right number of locations for each trip.
* You should have 32 for Inner London
* You should have 35 for Outer London

#### F.) Run the cell below and check that you get the expected output.
* The <code>len</code> function counts the number of elements in a list-like object. You'll see this pop up many times throughout this program.

In [125]:
print( len(location_dict['Inner London']) )
print( len(location_dict['Outer London']) )

32
35

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
32
35
</pre>

If you don't have the right number of locations, doublecheck that you removed duplicates and that you're concatenating the correct lists. You can also check the answer key for the solution.

#### G.) Once you have the right number of locations, let's save this object so we can use it in the next module. Run the cell below.
* We'll use a Python built-in package called <code style="color:steelblue">pickle</code> to do so.
* Pickle saves an entire object in a file on your computer.

In [126]:
import pickle

# Save object to disk
with open('location_dict.pkl', 'wb') as f:
    pickle.dump(location_dict, f)

#### The mission continues in the next module...

Now you have a dictionary of locations in London by borough. In the next module, we'll look through the locations and pick one to start with.